<div class="menu">
    <ul class="main_list">
            <li><a class="main_link {% if request.resolver_match.url_name == 'main:index' %}active{% endif %}"
                   href="{% url 'main:index' %}"> Главная</a></li>
            <li><a class="main_link {% if request.resolver_match.url_name == 'main:catalog' %}active{% endif %}"
                   href="{% url 'main:catalog' %}"> Каталог</a></li>
            <li><a class="main_link {% if request.resolver_match.url_name == 'main:contacts' %}active{% endif %}"
                   href="{% url 'main:contacts' %}"> Контакты</a></li>
            <li>
                {% if user.is_authenticated %}
                    <a class="main_link"
                       href="{% url 'auth:logout' %}"> Выйти </a>
                {% else %}
                    <a class="main_link"
                       href="{% url 'auth:login' %}"> Войти </a>
                {% endif %}
            </li>
    </ul>
    <!--  Просмотр содержимого request {# request.resolver_match.url_name #}   -->
</div>
