<div class="menu">
    <ul class="main_list">
            <li><a class="main_link {% if request.resolver_match.url_name == 'index' %}active{% endif %}"
                   href="{% url 'index' %}"> Главная</a></li>
            <li><a class="main_link {% if request.resolver_match.url_name == 'catalog' %}active{% endif %}"
                   href="{% url 'catalog' %}"> Каталог</a></li>
            <li><a class="main_link {% if request.resolver_match.url_name == 'contacts' %}active{% endif %}"
                   href="{% url 'contacts' %}"> Контакты</a></li>
    </ul>
    {# request.resolver_match.url_name #}
</div>
