<div class="category">
    <ul class="category_list">
        <!--active не работает-->
<!--        {# if pk == 1 #}active{# endif #}-->
        <li>
            <a class="category_link" href="{% url 'main:category' 0 %}">
                Все
            </a>
        </li>
        {% for element in links_menu %}
            <li>
                <a class="category_link" href="{% url 'main:category' element.pk %}">
                    {{ element.name }}
                </a>
            </li>
        {% endfor%}
    </ul>
</div>
