<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Лесные инструменты</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>

<body>
    <div class="container" id="home">
       
        <div class="header">
            <div class="logo">
                <a href="../index.html"><img src="img/logo.png" width="80" height="80" alt="img/logo.png"></a>
            </div>
            <div class="menu">
                <ul class="main_list">
                    <li><a class="main_link" href="../index.html"> Главная</a></li>
                    <li><a class="main_link" href="catalog.html"> Каталог</a></li>
                    <li><a class="main_link" href="../contacts.html"> Контакты</a></li>
                </ul>
            </div>
        </div>


        <div class="content">
            <h1> Бусcоль БГ </h1>

            <div class="main_line">  
                
                <div class="big_img_product">
                    <a href="img/buccol.jpg"><img class="product_img" src="img/buccol.jpg" alt="img/buccol.jpg"></a>
                </div>
                
                <div>
                    <h3 class="titles_good"> Описание товара </h3>
                    <p class="sort_description">
                        Буссоль БГ-1 предназначена для измерения румбов и&nbsp;азимутов направлений, горизонтальных углов на&nbsp;геодезических полигонах, а&nbsp;так&nbsp;же при проведении различных лесоустроительных, топографических и&nbsp;инженерно-геодезических работ.
                    </p>
                    
                    <button class="buy"> Купиь </button>
                </div>
            </div>

            <h3 class="titles_good"> Характеристики товара</h3>
            <ul class="parameters">
                <li class="parameters_li">Диапазон измерения румбов в&nbsp;каждой четверти от&nbsp;0&nbsp;до&nbsp;900</li>
                <li class="parameters_li">Диапазон измерения магнитных азимутов и&nbsp;углов от&nbsp;0&nbsp;до&nbsp;3600</li>
                <li class="parameters_li">Цена деления шкалы румбов и&nbsp;горизонтального лимба 10</li>
                <li class="parameters_li">Цена деления верньеров 55&acute;</li>
                <li class="parameters_li">Предел допускаемой средней квадратической погрешности измерения магнитных азимутов и&nbsp;румбов 30</li>
                <li class="parameters_li">Предел допускаемой средней квадратической погрешности измерения горизонтальных углов 10&acute;</li>
                <li class="parameters_li">Порог чувствительности буссоли, не&nbsp;более 16&acute;</li>
                <li class="parameters_li">Рабочая температура от&nbsp;&mdash; 400 до + 500</li>
                <li class="parameters_li">Средняя наработка до&nbsp;отказа, не&nbsp;менее 1000 часов</li>
                <li class="parameters_li">Средний срок службы, не&nbsp;менее не&nbsp;менее 6&nbsp;лет</li>
                <li class="parameters_li">Масса буссоли, не&nbsp;более 400 грамм</li>
            </ul>

            <h3 class="titles_good"> Размеры товара</h3>

            <table>
                <tr>
                    <td> Высота </td>
                    <td> Диаметр </td>
                    <td> Масса </td>
                </tr>
                <tr>
                    <td> 170 мм</td>
                    <td> 112 мм </td>
                    <td> 400 гр </td>
                </tr>
            </table>

            <h3 class="titles_good"> Подробное описание товара</h3>

            <p class="long_description">Вы&nbsp;можете купить буссоль БГ&nbsp;1&nbsp;для решения широкого круга задач из&nbsp;области геодезии, землеустройства, топографии, лесного хозяйства, ведь цена деления верньеров составляет 55&acute;, а&nbsp;цена деления шкалы лимба&nbsp;&mdash; 1&deg;. Работая с&nbsp;буссолью, вы&nbsp;будете определять горизонтальные углы с&nbsp;точностью 10&acute;.
                <br>
                Благодаря поворотной конструкции лимба и&nbsp;алидады при помощи буссоли можно производить прямое измерение внутренних углов. Стандартная резьба позволяет установить на&nbsp;обычный геодезический штатив для более точных измерений. Кроме того, универсальный закрепительный винт переходной втулки крепления позволяет вам установить буссоль БГ&nbsp;1&nbsp;на стойку или колышек. </p>

            <a href=#home>Вверх</a>
        </div>
        
        <div class="footer">
            &copy; Все права защищены
        </div>
    </div>
    
</body>

</html>


