{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
    {% include 'mainapp/includes/inc__main_menu.html' %}
{% endblock %}

{% block content %}
    <h1> Каталог </h1>
    <br>
    <div class="product_list">
        <div class="product">
            <a href="buccol.html"><img class="catalog_img"
                                       src="{% static 'img/buccol.jpg' %}"
                                       alt="{% static 'img/buccol.jpg' %}">
            </a>
            <div class="product_text"> Буссоль БГ-1</div>
        </div>

        <div class="product">
            <a href="eclimetr.html"><img class="catalog_img"
                                         src="{% static 'img/eclimetr.jpg' %}"
                                         alt="{% static 'img/eclimetr.jpg' %}">
            </a>
            <div class="product_text"> Высотомер </div>
        </div>

        <div class="product">
            <a href="fork.html"><img class="catalog_img" src="{% static 'img/fork.jpg' %}"
                                                         alt="{% static 'img/fork.jpg' %}">
            </a>
            <div class="product_text"> Мерная вилка </div>
        </div>
    </div>
{% endblock %}
