<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Лесные инструменты</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>

<body>
    <div class="container" id="home">
       
        <div class="header">
            <div class="logo">
                <a href="../index.html"><img src="img/logo.png" width="80" height="80" alt="img/logo.png"></a>
            </div>
            <div class="menu">
                <ul class="main_list">
                    <li><a class="main_link" href="../index.html"> Главная</a></li>
                    <li><a class="main_link" href="catalog.html"> Каталог</a></li>
                    <li><a class="main_link" href="../contacts.html"> Контакты</a></li>
                </ul>
            </div>
        </div>
        
        <div class="content">
            <h1> Высотомер -эклиметр ЭВ-1 </h1>
            
            <div class="main_line">
                <div class="big_img_product">
                    <a href="img/eclimetr.jpg"><img class="product_img" src="img/eclimetr.jpg" alt=img/elecmetr.jpg> </a> 
                </div>
                
                <div>
                    <h3 class="titles_good"> Описание товара </h3>
                    <p class="sort_description">
                        Эклиметр&nbsp;&mdash; простейший геодезический инструмент, предназначен для измерения высоты деревьев, а&nbsp;так&nbsp;же измерения углов.
                    </p>
                    
                    <button class="buy"> Купиь </button>
                </div>
            
            </div>

            <h3 class="titles_good">Характеристики товара:</h3>
            <ul class="parameters">
                <li class="parameters_li">Предел измерения &minus;6 м...+30&nbsp;м</li>
                <l class="parameters_li"i>Цена деления шкал 0,5&nbsp;м; 1&nbsp;м</li>
                <li class="parameters_li">Предел доп. погрешности измерения, не&nbsp;более 0,5&nbsp;м</li>
                <li class="parameters_li">Толщина, не&nbsp;более 3&nbsp;мм</li>
            </ul>

            <h3 class="titles_good"> Размеры товара</h3>

            <table>
                <tr>
                    <td> Высота </td>
                    <td> Ширина </td>
                    <td> Масса </td>
                </tr>
                <tr>
                    <td> 100 мм</td>
                    <td> 80мм </td>
                    <td> 100гр </td>
                </tr>
            </table>

            <h3 class="titles_good">Подробное описание товара</h3>

            <p class="long_description">Служит для измерения углов наклона местности с&nbsp;точностью до&nbsp;десятых долей градуса. Имеет 2&nbsp;базовых расстояния 15&nbsp;и&nbsp;20&nbsp;метров. Может использоваться также для определения высоты вертикально стоящих столбов или зданий. Позволяет производить измерения на&nbsp;базе 10&nbsp;и&nbsp;20&nbsp;метров от&nbsp;основания измеряемого объекта, для чего предусмотрены две шкалы с&nbsp;шагом 1&nbsp;метр.
            <br>
            Для измерения высоты ствола необходимо отойти от&nbsp;ствола измеряемого объекта на&nbsp;выбранное базовое расстояние 10&nbsp;или 20&nbsp;метров. Взять высотомер в&nbsp;правую руку так, чтобы шкала с&nbsp;делениями и&nbsp;стрелка находились с&nbsp;левой стороны, направить высотомер на&nbsp;вершину объекта и&nbsp;прицелиться (визуально) в&nbsp;замеряемую точку, используя мушки либо темную линию на&nbsp;сегменте. Далее пальцем той&nbsp;же руки нажать кнопку арретира (отпустить стрелку) и, выждав момент успокоения стрелки, отпустить кнопку. После этого следует прочесть показания по&nbsp;шкале с&nbsp;выбранной базой. Повторить операцию, используя то&nbsp;же прицельное устройство, и&nbsp;направив высотомер в&nbsp;основание наблюдаемого объекта. Сумма между 1-м и&nbsp;2-м отсчетами даст искомую величину высоты объекта.
            </p>

            <a href=#home>Вверх</a>
        </div>
        
        <div class="footer">
            &copy; Все права защищены
        </div>
    </div>
</body>

<html>
