{% extends 'adminapp/base.html' %}
{% load static %}

{% block container %}
<div class="categories_list">
        <a class="btn-add" href="{# url 'myadmin:category_create' #}">
            новая категория
        </a>
    {% for object in object_list %}
    <div class="category_record">
        <div class="category_name">
            {{ object.name|title }}
        </div>
        <div class="category_actions">
                <a class="btn-add" href="{% url 'myadmin:products' object.pk %}">
                    товары категории
                </a>
                <a class="btn-add" href="{# url 'myadmin:category_update' object.pk #}">
                    редактировать
                </a>
                <a class="btn-add" href="{# url 'myadmin:category_delete' object.pk #}">
                    удалить
                </a>
        </div>
        <div class="category_desc">
            {{ object.description|title }}
        </div>
    </div>
    {% endfor%}
</div>
{% endblock %}
