{% extends 'mainapp/base.html' %}

{% block menu %}
    {% include 'mainapp/includes/inc__main_menu.html' %}
{% endblock %}

{% block content %}
    <h1> Контакты </h1>
    <h3 class="title_information"> Напишите нам </h3>

    <form action="">
        Имя <input class="input_name" type="text" placeholder="Михаил">
        <br>
        Почта <input class="input_mail" type="email" placeholder="mail@mail.ru">
        <br>
        <br>
        Текст сообщения <br>
        <textarea class="input_text" cols="60" rows="5"></textarea>
        <br>
        <button type="submit"> Отправить</button>
        <button type="reset">Удалить</button>
    </form>

    <h3 class="title_information"> Контактная информация </h3>
        {% if locations %}
            {% for item in locations %}
                <p>
                    <b>Номер телефона:</b> {{ item.phone }}
                    <br>
                    <b>Электронный адрес:</b> {{ item.email }}
                </p>

                <p> <b>Адрес:</b> {{ item.city }}, {{ item.address }}</p>
            {% endfor %}
        {% else%}
            <h1> Страница в разработке </h1>
        {% endif %}
    <script type="text/javascript" charset="utf-8"
            async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A537d424197f38426b4834b4e0dee2ebf07cc5ac74ce480a7ac5025a004312d19&amp;width=700&amp;height=340&amp;lang=ru_RU&amp;scroll=true"></script>
{% endblock %}
