{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
    {% include 'mainapp/includes/inc__main_menu.html' %}
{% endblock %}

{% block content %}
    <h1> Каталог </h1>
    {% include 'mainapp/includes/inc__category_menu.html' %}
    <h2>Категория: "{{ category.name|title }}"</h2>
<!--    <h2>Категория: "{# products.0.category.name|title #}"</h2>-->
    <div class="product_list">
        {% for product in products %}
            <div class="product">
                <a href="{% url 'main:product' product.pk %}">
                    <img class="catalog_img"
                        src="/media/{{ product.image }}"
                        alt="/media/{{ product.image }}">
                </a>
                <div class="product_text">
                    {{ product.name }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}