{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block menu %}
    {% include 'mainapp/includes/inc__main_menu.html' %}
{% endblock %}

{% block container %}
    <h1> Продукт </h1>
    {% include 'mainapp/includes/inc__category_menu.html' %}
    <div class="novelty">
        <div class="big_img_product">
            <a href="#">
                <img class="product_img" src="{{ object.image|media_folder_products }}"
                                         alt="{{ object.image|media_folder_products }}">
            </a>
        </div>
        <div class="text-block">
            <h3>{{ object.name }}</h3>
            <h3>{{ object.price }}</h3>
            <a class="btn-add" href="{% url 'basket:add' object.pk %}">
                Купиь
            </a>
            <h3 class="titles_good"> Описание товара </h3>
            <p class="sort_description">
                {{ object.description }}
            </p>
        </div>
    </div>
    <h3 class="titles_good">Похожие товары </h3>
    <div class="product_list">
        {% for item in same_products %}
            <div class="product">
                <a href="{% url 'main:product' item.pk %}">
                    <img class="catalog_img"
                        src="{{ item.image|media_folder_products }}"
                        alt="{{ item.image|media_folder_products }}">
                </a>
                <div class="product_text">
                    {{ item.name }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
